<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact us</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700;900&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="contact-us.css">
  <link rel="stylesheet" href="media-query-burger-menu.css">
</head>

<body>

  <header class="header">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="hamburger-menu">
        <a href="#" class="logo"><img src="images/Logo.png" alt="logo"></a>
        <div class="hamburger-menu">
          <input id="menu__toggle" type="checkbox" />
          <label class="menu__btn" for="menu__toggle">
            <span></span>
          </label>
          <ul class="menu__box">
            <li><a class="menu__item" href="index.html">Home</a></li>
            <li><a class="menu__item" href="#">Company</a></li>
            <li><a class="menu__item" href="#">Profile</a></li>
            <li><a class="menu__item" href="tomato-all.html">Products</a></li>
            <li><a class="menu__item" href="#">Services</a></li>
            <li><a class="menu__item" href="#">R & D</a></li>
            <li><a class="menu__item" href="contact-us.html">Contact</a></li>
          </ul>
        </div>

        <div class="search align-self-end">
          <input type="search" placeholder="Search">
          <button class="search__btn"><img src="images/ico_search.png" alt=""></button>
        </div>
      </div>

      <div class="nav">
        <div class="search align-self-end">
          <input type="search" placeholder="Search">
          <button class="search__btn"><img src="images/ico_search.png" alt=""></button>
        </div>
        <ul class="nav-items">
          <a href="index.html" class="nav-item">
            <li>Home</li>
          </a>
          <a href="#" class="nav-item">
            <li>Company</li>
          </a>
          <a href="#" class="nav-item">
            <li>Profile</li>
          </a>
          <a href="tomato-all.html" class="nav-item">
            <li>Products</li>
          </a>
          <a href="#" class="nav-item">
            <li>Services</li>
          </a>
          <a href="#" class="nav-item">
            <li>R & D</li>
          </a>
          <a href="contact-us.html" class="nav-item">
            <li>Contact</li>
          </a>
        </ul>
      </div>
    </div>
  </header>


  <div class="banner">
    <img src="images/contact-banner.jpg" alt="">
  </div>

  <section class="contacts-content" id="app">


    <div class="container">

      <div class="section__title">
        Contact us
      </div>

      <div class="capitals" >
        <ul>
          <li v-for="item in capitals">{{item}}</li>
        </ul>
      </div>

      <div class="cart">
        <div class="cart-item" v-if="cart" v-for="p in cart">
          <div class="cart-item-info">
            <img :src="p.image" alt="">
            <div class="title">{{p.title}}</div>
            <div class="disc">{{p.short_text}}</div>
          </div>
          <button @click.prevent=" removeFromCart(p.id)">x</button>
        </div>
      </div>

      <div class="separator"><img src="images/separator.png" alt=""></div>

      <form action="#" class="form" v-if="formVisible" @submit.prevent="makeOrder()">
        <div class="form-contacts">

          <div class="form-contacts-item">
            <div class="input__title">Name *</div>
            <div class="contacts-item__input">
              <input type="text" required v-model="contactFields.name">
            </div>
          </div>
          <div class="form-contacts-item">
            <div class="input__title">Company Name</div>
            <div class="contacts-item__input">
              <input type="text" v-model="contactFields.companyName">
            </div>
          </div>
          <div class="form-contacts-item">
            <div class="input__title">Position</div>
            <div class="contacts-item__input">
              <input type="text" v-model="contactFields.position">
            </div>
          </div>
          <div class="form-contacts-item">
            <div class="input__title">City</div>
            <div class="contacts-item__input">
              <input type="text" v-model="contactFields.city">
            </div>
          </div>
          <div class="form-contacts-item">
            <div class="input__title">Country</div>
            <div class="contacts-item__input">
              <input type="text" v-model="contactFields.country">
            </div>
          </div>
          <div class="form-contacts-item">
            <div class="input__title">Telephone</div>
            <div class="contacts-item__input">
              <input type="tel" v-model="contactFields.telephone">
            </div>
          </div>
          <div class="form-contacts-item">
            <div class="input__title">Email *</div>
            <div class="contacts-item__input">
              <input type="email" required v-model="contactFields.email">
            </div>
          </div>

        </div>

        <div class="form-about">

          <div class="form-about-item">
            <div class="input__title">You are a</div>
            <div class="about-item__input">
              <select name="" id="" v-model="contactFields.occupation">
                <option value="">seed producer</option>
                <option value="">seed producer 2</option>
                <option value="">seed producer 3</option>
              </select>
            </div>
          </div>

          <div class="form-contacts-item">
            <div class="input__title">If other, please specify</div>
            <div class="contacts-item__input">
              <input type="text" v-model="contactFields.other">
            </div>
          </div>

          <div class="form-contacts-item">
            <div class="input__title">You are interested in</div>
            <div class="contacts-item__input">
              <textarea v-model="contactFields.interests"></textarea>
            </div>
          </div>

          <div class="form-contacts-item">
            <div class="input__title capcha-title">Please type this code</div>
            <div class="contacts-item__input capcha-input">
              <img src="images/capcha.png" alt="">
              <input type="text" v-model="contactFields.capcha">
              <button type="submit">Send Message</button>
            </div>
          </div>

        </div>
      </form>


      <div class="form-done" v-if="!formVisible">
        <div class="form-done__item">
          <div class="form-done__title">Name</div>
          <div class="form-done__descr">{{contactFields.name}}</div>
        </div>
        <div class="form-done__item">
          <div class="form-done__title">Company Name</div>
          <div class="form-done__descr">{{contactFields.companyName}}</div>
        </div>
        <div class="form-done__item">
          <div class="form-done__title">Position</div>
          <div class="form-done__descr">{{contactFields.position}}</div>
        </div>
        <div class="form-done__item">
          <div class="form-done__title">City</div>
          <div class="form-done__descr">{{contactFields.city}}</div>
        </div>
        <div class="form-done__item">
          <div class="form-done__title">Country</div>
          <div class="form-done__descr">{{contactFields.country}}</div>
        </div>
        <div class="form-done__item">
          <div class="form-done__title">Telephone</div>
          <div class="form-done__descr">{{contactFields.telephone}}</div>
        </div>
        <div class="form-done__item">
          <div class="form-done__title">Email</div>
          <div class="form-done__descr">{{contactFields.email}}</div>
        </div>
        <div class="form-done__item">
          <div class="form-done__title">You are a</div>
          <div class="form-done__descr">{{contactFields.occupation}}</div>
        </div>
        <div class="form-done__item">
          <div class="form-done__title">If other, please specify</div>
          <div class="form-done__descr">{{contactFields.other}}</div>
        </div>
        <div class="form-done__item">
          <div class="form-done__title">You are interested in</div>
          <div class="form-done__descr">{{contactFields.interests}}</div>
        </div>


      </div>


    </div>

    <div class="address">
      <div class="address-item__title">
        Our Address
      </div>
      <div class="address-item">
        AGRIDERA Seeds & Agriculture Ltd. <br>
        P.O Box 103, <br>
        Gedera 70750, Israel. <br>
        Telephone: <span>+972 8 944 9222</span>
      </div>
    </div>

  </section>





  <footer class="footer">
    <div class="container footer-links">

      <ul class="footer-nav">
        <a class="footer-nav__item" href="#">
          <li>PROFILE</li>
        </a>
        <a class="footer-nav__item" href="#">
          <li>MANAGEMENT</li>
        </a>
        <a class="footer-nav__item" href="#">
          <li>PRODUCTS</li>
        </a>
        <a class="footer-nav__item" href="#">
          <li>R&D</li>
        </a>
        <a class="footer-nav__item" href="#">
          <li>LINKS</li>
        </a>
        <a class="footer-nav__item" href="#">
          <li>SITEMAP</li>
        </a>
        <a class="footer-nav__item" href="#">
          <li>CONTACT</li>
        </a>
      </ul>

      <ul class="footer-social">
        <a class="footer-social__item" href="#">
          <li><img src="images/links/in.png" alt=""></li>
        </a>
        <a class="footer-social__item" href="#">
          <li><img src="images/links/inst.png" alt=""></li>
        </a>
        <a class="footer-social__item" href="#">
          <li><img src="images/links/youtube.png" alt=""></li>
        </a>
        <a class="footer-social__item" href="#">
          <li><img src="images/links/twitter.png" alt=""></li>
        </a>
        <a class="footer-social__item" href="#">
          <li><img src="images/links/facebook.png" alt=""></li>
        </a>
      </ul>

    </div>
  </footer>

  <div class="footer-bottom">
    AGRIDERA SEEDS & AGRICULTURE LTD. © 2020
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="js/main.js"></script>
</body>

</html>